@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLeftToRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.animtxt{
    animation: fadeInLeftToRight 1s ease-in-out;
}

.botao {
    display: inline-block;
    padding: 10px 20px; 
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #2a279f;
}

/* Reset de estilos padrão do navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:visited{
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #090909;
    color: #ffffff;
    transition: all ease-in-out 1s;
}

/* Estilo do cabeçalho */
header {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    padding: 1em;
}

.separador {
    width: 90%;
    height: 1px;
    background-color: #363636;
    margin: 40px auto;
}

#boximg img {
    width: 30em;
    height: 30em;
    object-fit: cover;
    border-radius: 5%;
}

#box {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#box p {
    width: 40em;
    height: 10em;
    background-color: #2e2e2e2e;
    backdrop-filter: blur(2px);
    position: relative;
    top: 20em;
    left: -20em;
    padding: 1em;
    border-radius: 1em;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Estilo das seções */
section {
    padding: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

#gridprojetos {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    gap: 3em;
    place-content: center;
}

.projeto {
    margin-bottom: 40px;
    background-color: #292929;
    border: 1px solid #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.projeto img {
    width: 100%;
    max-height: 20em;
    object-fit: cover;
}

.projeto h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

.projeto p {
    font-size: 16px;
}

.projeto a {
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
    font-weight: bold;
}

.justify-between{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
} 

.botoes-projeto {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* Estilo das redes sociais */
.redes-sociais {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.redes-sociais a {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 10px;
}

.redes-sociais img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2e2e2e;
    color: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    #gridprojetos {
        grid-template-columns: 1fr; /* Uma coluna no celular */
    }

    #box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    #box p {
        width: auto;
        position: relative;
        top: -5em;
        left: 0;
    }

    #boximg img {
        width: 20em;
        height: 20em;
        object-fit: cover;
        border-radius: 5%;
    }

    .botoes-projeto {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .botoes-projeto a{
        text-align: center;
    }
}
